.container{
    width: 1140px;
    background-color: lightsalmon;
    height: 100%;
    padding: 100px;
}
.main-nav {
    width: 35%;
    margin: 0 34%;
}
.main-nav li{
    list-style: none;
}
.main-nav li img{
    width: 100px;
}
.pro2 img{
    width: 100px;
    padding-left: 28%;
}
p{
    padding-left: 45%;
    font-size: 40px;
}
h1,h2,a{
    padding-left: 35%;
}
h3{
    padding-left:15%;
}
button{
    margin: 10px;
    border-radius: 5px;
    border-color: wheat;
    color: white;
    width: 40%;
    background-color: yellow;
    border: none;
    font-size: 25px;
}
.addremovebtn{
    text-align: center;
}